@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

:root {
  /* Primary Colors */
  --very-dark-blue: hsl(233, 47%, 7%); /*--  (main background) --*/
  --dark-desaturated-blue: hsl(244, 38%, 16%); /*--  (card background) --*/
  --soft-violet: hsl(277, 64%, 61%); /*--  (accent) --*/

  /* Neutral Colors */
  --white-main-stats: hsl(0, 0%, 100%);
  --transparent-white-p: hsla(0, 0%, 100%, 0.75);
  --transparent-white-h: hsla(0, 0%, 100%, 0.938);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
body {
  font-family: "Inter", sans-serif;
  background-color: var(--very-dark-blue);
  display: grid;
  place-content: center;
  min-height: 100vh;
  color: var(--transparent-white-p);
}
.container {
  background-color: var(--dark-desaturated-blue);
  max-width: 1080px;
  min-height: 300px;
  display: flex;
  flex-direction: row-reverse;
  margin: 0 1.2rem;
  border-radius: 10px;
  overflow: hidden;
}

.img-box {
  min-width: 50%;
  background-color: var(--soft-violet);
}

.container .body-title {
  font-size: 2rem;
  margin: 1.5rem 0;
}
.text > h1 > span {
  color: var(--soft-violet);
}

img {
  max-width: 100%;
  display: block;
  mix-blend-mode: overlay;
}

.body-text {
  line-height: 1.5rem;
  word-spacing: 0.2rem;
}

@media (max-width: 764px) {
  .container {
    display: block;
    border-radius: 10px;
  }

  .stats {
    flex-direction: column;
    flex-basis: 200px;
    align-content: center;
  }
  .body-title {
    text-align: center;
  }

  .body-text {
    text-align: center;
  }
  img {
    width: 100%;
  }
  .stats {
    text-align: center;
  }
}

.text {
  padding: 0 20px;
  margin: 2rem;
}

.stats {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  margin: 2.5rem 0 1rem;
}
.stats > li {
  font-size: 1.5rem;
  margin: 1rem 0;
  padding: 1rem;
  font-weight: 700;
}
.stats-desc {
  font-size: 0.7rem;
  letter-spacing: 0.1rem;
  display: block;
  text-transform: uppercase;
  color: hsla(0, 4%, 80%, 0.75);
}
.attribution {
  margin-top: 1rem;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
